.main__header{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}
.main__header-container{
    height: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.margin__header-left{
    margin-top: -3rem;
}

.main__header-circle {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%;
    background-color: #f0f0f0;
    margin-bottom: 1rem; /* Adjust the margin-bottom value as needed */
  }
  .main__header-left h4{
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
  }
  .main__header-left p{
     margin: 1rem 0 3.5rem ;
     font-size: 1.1rem;
  }
  .margin__header-right{
      display: grid;  
      place-items: center;  
      position: relative;  
  }